<h1>My Coupons</h1>

<table>
  <thead>
    <th>Name</th>
    <th>Code</th>
    <th>Discount</th>
    <th>Update?</th>
    <th>Delete?</th>
  </thead>
  <tbody>
    <% @coupons.each do |coupon| %>
     <tr id="coupon-<%= coupon.id %>">
      <td><%= coupon.name %></td>
      <td><%= coupon.code %></td>
      <td><%= coupon.percent_off %>%</td>
      <td><%= button_to 'Update', "/merchant/coupons/#{coupon.id}/edit", method: :get %></td>
      <td><%= button_to 'Delete', "/merchant/coupons/#{coupon.id}", method: :delete %></td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= link_to 'Add Coupon', '/merchant/coupons/new' %>
