<!DOCTYPE html>
<html>
  <head>
    <title>MonsterShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-color">
      <%= link_to 'Home', '/', class: 'navbar-brand' %>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup"
        <div class='navbar-nav'>
          <%= link_to 'Register', registration_path, class: 'nav-item nav-link'  unless current_user %>
          <%= link_to 'Log In', login_path, class: 'nav-item nav-link' unless current_user %>
          <% if current_user %>
            <%= link_to 'Log Out', logout_path, class: 'nav-item nav-link' %>
            <%= link_to 'Profile', profile_path, class: 'nav-item nav-link' if current_user.default? %>
            <%= link_to "Logged in as #{current_user.name}", '#', class: 'nav-item nav-link' %>
          <% if current_merchant_user? %>
            <%= link_to 'Merchant Dashboard', merchant_dashboard_path, class: 'nav-item nav-link' %>
          <% elsif current_admin? %>
            <%= link_to 'Admin Dashboard', admin_dashboard_path, class: 'nav-item nav-link' %>
            <%= link_to 'Users', '/admin/users', class: 'nav-item nav-link' %>
          <% end %>
        <% end %>
        <%= link_to 'Merchants', '/merchants', class: 'nav-item nav-link' unless current_admin? %>
        <%= link_to 'Merchants', '/admin/merchants', class: 'nav-item nav-link' if current_admin? %>
        <%= link_to 'Items', '/items', class: 'nav-item nav-link' %>
        <%= link_to "Cart: #{cart.count}", cart_path, class: 'nav-item nav-link' unless current_user && current_admin?%>
       </div>
      </div>
    </nav>
    <% flash.each do |type, message| %>
      <p class="alert alert-<%= type %>"><%= message %></p>
    <% end %>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
